<?xml version="1.0"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
        <add key="SlaveAddress" value="1" />
        <add key="PortName" value="COM3" />
        <add key="BaudRate" value="115200" />
        <add key="DataBits" value="8" />
        <add key="ReadTimeout" value="1000" />
        <add key="WriteTimeout" value="1000" />
        <add key="AttemptsModbus" value="3" />
    </appSettings>
</configuration>